ACTION!="add|change|move|bind", GOTO="mm_septentrio_port_types_end"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="152a", GOTO="mm_septentrio_port_types"
GOTO="mm_septentrio_port_types_end"


LABEL="mm_septentrio_port_types"

SUBSYSTEMS=="usb", ATTRS{bInterfaceNumber}=="?*", ENV{.MM_USBIFNUM}="$attr{bInterfaceNumber}"

# Fully ignore septentrio GNSS devices
ATTRS{idVendor}=="152a", ATTRS{idProduct}=="85c0", ENV{ID_MM_DEVICE_IGNORE}="1"

LABEL="mm_septentrio_port_types_end"
