# For ELT0x33
ACTION=="bind", ATTRS{idProduct}=="6015", ATTRS{idVendor}=="0403", ATTRS{product}=="ELT0x33", RUN+="/usr/local/rtkbase/startELT0x33.sh"
