[Unit]
Description=RTKBase show internet state on led
After=local-fs.target network.target
Wants=local-fs.target network.target

[Service]
Type=simple
SyslogIdentifier=rtkbase_check_internet
ExecStart=/usr/local/rtkbase/rtkbase_check_internet.sh
ExecStopPost=/usr/local/rtkbase/rtkbase/tools/onoffELT0x33.sh SETTINGS OFF 1
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
