[Unit]
Description=RTKBase DHCP server for Septentrio
After=local-fs.target network.target
Wants=local-fs.target network.target

[Service]
Type=simple
SyslogIdentifier=rtkbase_septentrio_NAT
ExecStart=busybox udhcpd -f /usr/local/rtkbase/rtkbase_DHCP.conf
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
