[Unit]
Description=RTKBase show satelites state on led
After=local-fs.target network.target
Wants=local-fs.target network.target

[Service]
Type=forking
SyslogIdentifier=rtkbase_check_satelites
ExecStart=/usr/local/rtkbase/rtkbase_check_satelites.sh
ExecStopPost=/usr/local/rtkbase/rtkbase/tools/onoffELT0x33.sh SETTINGS OFF 2
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
