[Unit]
Description=RTKBase system configure at start
After=local-fs.target network.target rtkbase_start.service
Wants=local-fs.target network.target

[Service]
ExecStart=/usr/local/rtkbase/rtkbase_system_configure.sh
RemainAfterExit=true
Type=oneshot
SyslogIdentifier=rtkbase_system_configure

[Install]
WantedBy=multi-user.target
